<h1><%= @student.to_s %></h1>
<% if @student.active == false %>
 <%= "This student is currently inactive." %>
 <% else %>
 <%= "This student is currently active." %>
 <% end %>
<p>  </p>
 <div><%= link_to "Change Status", "/students/#{@student.id}/activate" %></div>
